<%= render 'static_pages/shared/header_all' %>

<%= render 'static_pages/shared/quickLinks' %>

<div id="container">
<table id="content" cellpadding="0" cellspacing="0">
	<tr>

		<%= render 'static_pages/shared/left_column' %>

		<%= render 'static_pages/shared/infoBlock' %>

		<td class="main-column" style="width:727px;">

		<div id="navigation">
			<ul class="breadcrumb-navigation">
				<li><a href="/" title="Главная">Главная</a></li>
				<li><span>&nbsp;&gt;&nbsp;</span></li>
				<li><a href="/about-company/" title="О компании">О компании</a></li>
			</ul>
		</div>
		<h1 id="pagetitle">О компании</h1> 
		<p align="justify"><strong>Торговая Компания &laquo;Лидер&raquo;</strong> - мультибрендовый поставщик систем утепления для зданий и сооружений промышленного и гражданского назначения. Приоритетное направление в сфере поставок - кровельные и изоляционные материалы. Мы сотрудничаем с потребителями всех уровней. Нашими постоянными клиентами являются как крупные промышленные предприятия и компании- застройщики, государственные учреждения, так и небольшие строительные бригады и частные застройщики. </p>
 
		<ul align="justify" class="decorated"> 
			 <li><strong>Готовые решения</strong> для любых типов конструкций здания. </li>
			 
			 <li><strong>Инжиниринг:</strong> разработка и согласование любых нестандартных технических решений.  </li>
			 
			 <li><strong>Прямые поставки</strong> от производителей систем теплоизоляции, фасадных и кровельных материалов.  </li>
			 
			 <li><strong>Цена под ключ</strong> &ndash; Исключительно прозрачная калькуляция и гарантия «стоп-цены». Это означает фиксированную стоимость на материалы, вне зависимости от сезонного повышения цен или первоначальной погрешности в расчетах. Все риски и ответственность компания «ТК Лидер» берет на себя. </li>
			 
			 <li><strong>Бесперебойные поставки:</strong> постоянное наличие неснижаемых остатков на складе по всем группам товаров и комплектующим. Все материалы попадают на объект вовремя.</li>
		</ul>
	</tr>
</table>


<%= render 'static_pages/shared/smallSlider' %>

<div class="footer-box">
		
	<table style="width:100%;">
		<tr>
			<td style="text-align:center;">
				<a href="/">Главная</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<span>О компании</span>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/products/">Продукция</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/article/">Статьи</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/partner/">Партнеры</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/pry-sheet/">Прайс-лист</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/contacts/">Контакты</a>&nbsp;&nbsp;
			</td>
		</tr>
	</table>
</div>

<%= render 'static_pages/shared/footer' %>

