<%= render 'header' %>

<%= render 'quickLinks' %>

</div>
</div>
</div>

<div id="container">
<table id="content" cellpadding="0" cellspacing="0">
	<tr>

		<%= render 'left_column' %>


		<a id="consultant" href="https://siteheart.com/webconsultation/603129?" target="siteheart_sitewindow_603129" onclick="o=window.open;o('https://siteheart.com/webconsultation/603129?', 'siteheart_sitewindow_603129', 'width=550,height=400,top=30,left=30,resizable=yes'); return false;" >On-line   <br /> консультант</a>
		<a id="feedback" href="/feedback/" >Оформить  <br /> заявку</a>

		<%= render 'infoBlock' %>

		<td class="main-column" style="width:727px;">

		<div id="navigation">
			<ul class="breadcrumb-navigation">
				<li><a href="/" title="Главная">Главная</a></li>
				<li><span>&nbsp;&gt;&nbsp;</span></li>
				<li><a href="/about-company/" title="О компании">О компании</a></li>
			</ul>
		</div>
		<h1 id="pagetitle">О компании</h1> 
		<p align="justify"><strong>Торговая Компания &laquo;Лидер&raquo;</strong> - мультибрендовый поставщик систем утепления для зданий и сооружений промышленного и гражданского назначения. Приоритетное направление в сфере поставок - кровельные и изоляционные материалы. Мы сотрудничаем с потребителями всех уровней. Нашими постоянными клиентами являются как крупные промышленные предприятия и компании- застройщики, государственные учреждения, так и небольшие строительные бригады и частные застройщики. </p>
 
		<ul align="justify" class="decorated"> 
			 <li><strong>Готовые решения</strong> для любых типов конструкций здания. </li>
			 
			 <li><strong>Инжиниринг:</strong> разработка и согласование любых нестандартных технических решений.  </li>
			 
			 <li><strong>Прямые поставки</strong> от производителей систем теплоизоляции, фасадных и кровельных материалов.  </li>
			 
			 <li><strong>Цена под ключ</strong> &ndash; Исключительно прозрачная калькуляция и гарантия «стоп-цены». Это означает фиксированную стоимость на материалы, вне зависимости от сезонного повышения цен или первоначальной погрешности в расчетах. Все риски и ответственность компания «ТК Лидер» берет на себя. </li>
			 
			 <li><strong>Бесперебойные поставки:</strong> постоянное наличие неснижаемых остатков на складе по всем группам товаров и комплектующим. Все материалы попадают на объект вовремя.</li>
		</ul>
	</tr>
</table>


<%= render 'smallSlider' %>

<%= render 'footer-box' %>

<%= render 'footer' %>

