<%= render 'static_pages/shared/header' %>

<%= render 'static_pages/shared/quickLinks' %>

<div id="container">
<table id="content" cellpadding="0" cellspacing="0">
	<tr>
		<%= render 'static_pages/shared/left_column' %>

		<%= render 'static_pages/shared/infoBlock' %>

		<td class="main-column" style="width:727px;">

		<div id="navigation">
			<ul class="breadcrumb-navigation">
				<li><a href="/" title="Главная">Главная</a></li>
				<li><span>&nbsp;&gt;&nbsp;</span></li>
				<li><a href="/pry-sheet/" title="Прайc-лист">Прайc-лист</a></li>
			</ul>
		</div>

		 <h1 id="pagetitle">Прайс-лист</h1> 
			<p>Прайс-лист на Наплавляемые материалы ТЕХНОНИК, скачать (xls, 37 кб)  
			  <br />
			 
			  <br />
			 	<a href="/upload/medialibrary/de6/Праймеры и мастики ТЕХНОНИКОЛЬ.xls" title="Праймеры и мастики ТЕХНОНИКОЛЬ.xls" >Прайс-лист на Праймеры и мастики ТЕХНОНИКОЛЬ, скачать (xls, 43 кб)</a> 
			  <br />
			 
			  <br />
			 	<a href="/upload/medialibrary/1b9/Крепеж РОКС.xls" title="Крепеж РОКС.xls" >Прайс-лист на Крепеж РОКС, скачать (xls, 37 кб) </a> 
			  <br />
			 
			  <br />
			 	<a href="/upload/medialibrary/f1a/Теплоизоляция BASWOOL.xls" title="Теплоизоляция BASWOOL.xls" >Прайс-лист на Теплоизоляция BASWOOL, скачать (xls, 32 кб)</a> 
			  <br />
			 
			  <br />
			   	Прайс-лист на Теплоизоляция ТЕХНОНИКОЛЬ, скачать (xls, 66 кб) 
			  <br />
			 
			  <br />
			 	<a href="/upload/medialibrary/70d/Теплоизоляция ЭКОВЕР.xls" title="Теплоизоляция ЭКОВЕР.xls" >Прайс-лист на Теплоизоляция ЭКОВЕР, скачать (xls, 30 кб)</a> 
			  <br />
			 
			  <br />
			 	Прайс-лист на Пенополистиролы, скачать (xls, 31 кб) 
			  <br />
			 
			  <br />
			 	<a href="/upload/medialibrary/1c1/Гидро_ ветро_пароизоляция.xls" title="Гидро_ ветро_пароизоляция.xls" >Прайс-лист на Гидро_ ветро_пароизоляция, скачать (xls, 27 кб)</a>
		 	</p> 
	</tr>
</table>


<%= render 'static_pages/shared/smallSlider' %>

<div class="footer-box">
	<table style="width:100%;">
		<tr>
			<td style="text-align:center;">
				<a href="/">Главная</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/about-company/">О компании</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/products/">Продукция</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/article/">Статьи</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/partner/">Партнеры</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<span>Прайс-лист</span>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/contacts/">Контакты</a>&nbsp;&nbsp;
			</td>
		</tr>
	</table>
</div>

<%= render 'static_pages/shared/footer' %>

