<%= render 'static_pages/shared/header_all' %>

<%= render 'static_pages/shared/quickLinks' %>

<div id="container">
<table id="content" cellpadding="0" cellspacing="0">
	<tr>

		<%= render 'static_pages/shared/left_column' %>

		<%= render 'static_pages/shared/infoBlock' %>

		<td class="main-column" style="width:727px;">

		<div id="navigation">
			<ul class="breadcrumb-navigation">
				<li><a href="/" title="Главная">Главная</a></li>
				<li><span>&nbsp;&gt;&nbsp;</span></li>
				<li><a href="/products/" title="Продукция">Продукция</a></li>
			</ul>
		</div>
		<h1 id="pagetitle">Продукция</h1>

		<ul class="decorated">

			<li  class="level-1">
				<div class="item-text"><a href="/products/thermal-insulation/">Теплоизоляция</a></div>
			</li>	
			<li  class="level-1">
				<div class="item-text"><a href="/products/gidroizolyatsiya/">Гидроизоляция</a></div>
			</li>
			<li  class="level-1">
				<div class="item-text"><a href="/products/pipe-insulation-and-fire-proof-materials/">Изоляция для труб и огнезащитные материалы</a></div>
			</li>
			<li  class="level-1">
				<div class="item-text"><a href="/products/accessories/">Комплектующие</a></div>
			</li>
			<li  class="level-1">
				<div class="item-text"><a href="/products/gazoblok-and-brick/">Газоблоки и кирпич</a></div>
			</li>
			<li  class="level-1">
				<div class="item-text"><a href="/products/cement/">Цемент</a></div>
			</li>
			<li  class="level-1">
				<div class="item-text"><a href="/products/metal-corrugated-shingles/">Металлочерепица, профнастил, черепица </a></div>
			</li>
			<li  class="level-1">
				<div class="item-text"><a href="/products/interior-decoration/">Внутренняя отделка</a></div>
			</li>
			<li  class="level-1">
				<div class="item-text"><a href="/products/wood-tile-materials/">Древесно-плиточные материалы</a></div>
			</li>
		</ul>
	</tr>
</table>


<%= render 'static_pages/shared/smallSlider' %>

<div class="footer-box">		
	<table style="width:100%;">
		<tr>
			<td style="text-align:center;">
				<a href="/">Главная</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/about-company/">О компании</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<span>Продукция</span>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/article/">Статьи</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/partner/">Партнеры</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/pry-sheet/">Прайс-лист</a>&nbsp;&nbsp;
			</td>
			<td style="text-align:center;">
				<a href="/contacts/">Контакты</a>&nbsp;&nbsp;
			</td>
		</tr>
	</table>
</div>

<%= render 'static_pages/shared/footer' %>

