<h1 style="margin-top: 30px;">Производители</h1>

<%= paginate @manufacturers %>

<table class="table table-bordered">
  <tr>
    <th>Название</th>
    <th>Логотип</th>
    <th>О фирме</th>
    <th>Кнопки управления</th>   
  </tr>

  <% @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= h raw(manufacturer.title) %></td>
      <td><%= image_tag manufacturer.logo_url(:thumb), class: "thumbnail" %></td>
      <td><%= h raw (truncate((manufacturer.content), :length => 125, :omission => '...')) %></td>    
      <td>
        <%= link_to 'Обзор', admin_manufacturer_path(manufacturer), class: "btn btn-mini btn-info" %>
        <%= link_to 'Изменение', edit_admin_manufacturer_path(manufacturer), class: "btn btn-mini btn-warning" %>
        <%= link_to 'Удаление', admin_manufacturer_path(manufacturer), class: "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Новый производитель', new_admin_manufacturer_path, class: "btn btn-mini btn-inverse" %>
