<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @manufacturer.title %>
</p>

<p>
  <b>Logo:</b>
  <%= image_tag @manufacturer.logo_url(:thumb).to_s %>
</p>

<p>
  <b>Content:</b>
  <%= @manufacturer.content %>
</p>

<br />

<%= link_to 'Things', manufacturer_things_path(@manufacturer), class: "btn btn-small btn-info" %> |
<%= link_to 'Edit', edit_admin_manufacturer_path(@manufacturer), class: "btn btn-small btn-warning" %> |
<%= link_to 'Back', admin_manufacturers_path, class: "btn btn-small btn-success" %>
