<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b><br />
  <%= h raw(@manufacturer.title) %>
</p>
<br />
<p>
  <b>Логотип:</b><br />
  <%= image_tag @manufacturer.logo_url(:thumb), class: "thumbnail" %>
</p>
<br />
<p>
  <b>О фирме:</b><br />
  <%= h raw(@manufacturer.content) %>
</p>
<br />
<%= link_to 'Продукты', admin_products_path(manufacturer_id: @manufacturer.id), class: "btn btn-mini btn-info" %> |
<%= link_to 'Изменение', edit_admin_manufacturer_path(@manufacturer), class: "btn btn-mini btn-warning" %> |
<%= link_to 'Возврат', admin_manufacturers_path, class: "btn btn-mini btn-success" %>
