<h1>Listing things</h1>

<%= paginate @things %>

<table>
  <tr>
    <th>Title</th>
    <th>Image</th>
    <th>Content</th>    
    <th>Manufacturer</th>
    <th></th>
  </tr>

<% @things.each do |thing| %>
  <tr>
    <td><%= thing.title %></td>
    <td><%= thing.image %></td>
    <td><%= thing.manufacturer_id %></td>  
    <td><%= thing.content %></td>
    <td><%= link_to 'Show', manufacturer_thing_path(@manufacturer.id, thing) %></td>
    <td><%= link_to 'Edit', edit_manufacturer_thing_url(@manufacturer.id, thing) %></td>
    <td><%= link_to 'Destroy', [@manufacturer, thing], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Thing', new_manufacturer_thing_path %>
