<div id="bigSlider">
                
    <div class="jSlider">
        <div class="jScrollBanners">
            <ul>
                 <li style="width:982px; height:295px"> <%= image_tag '1.jpg' %>
                 <div class="jslider-item-title">Материалы от лучших производителей для надежных домов</div>
                 </li>
     
                 <li style="width:982px; height:295px"> <%= image_tag '5.jpg' %>
                 <div class="jslider-item-title">Качественная теплоизоляция &mdash; тепло и уют вашего дома!</div>
                 </li>
     
                 <li style="width:982px; height:295px"> <%= image_tag '3.jpg' %>
                 <div class="jslider-item-title">Профессиональные решения для строительных организаций</div>
                 </li>
     
                 <li style="width:982px; height:295px"> <%= image_tag '4.jpg' %>
                 <div class="jslider-item-title">Индивидуальный подход к каждому клиенту</div>
                 </li>
            </ul>
        </div>
                <div class="prevButton"></div>
 
                <div class="nextButton"></div>
    </div>
 
                <div class="empty-block"> </div>
 
                <script type="text/javascript">
                        $(".jSlider .jScrollBanners").jCarouselLite({
                         auto: 9000,
                         speed: 1400,
                         scroll: 1,
                         visible: 1,
                         width: 982,
                         height: 295,
                         btnNext: ".jSlider .nextButton",
                         btnPrev: ".jSlider .prevButton",
                        /*beforeStart: function(a) {
                         $(a).parent().fadeTo(1000, 0);
                         var bg = $(a).find('img').attr('src');
                         $('.jSlider .jScrollBanners').css({
                         backgroundImage: "url("+bg+")"
                         }, 1000);
                         },
                         afterEnd: function(a) {
                        // $(a).parent().fadeTo(1000, 1);
                         }
                        */
                        });
                </script>
 
            <style>
                div.jSlider{
                height:295px;
                position:relative;
                width:982px;
                }
                .jSlider .prevButton, .jSlider .nextButton{
                height:50px;
                width: 50px;
                position:absolute;
                top:122px;
                }
                .jSlider .prevButton{
                background:url(<%=asset_path "jslider_prev.png"%>) no-repeat center center;
                left:0px;
                z-index:2;
                }
                .jSlider .nextButton{
                background:url(<%=asset_path "jslider_next.png"%>) no-repeat center center;
                right:0px;
                z-index:3;
                }
                .jSlider>div{
                float:left;
                }
                .jSlider .jScrollBanners{
                 border:0px solid #FFF;
                }
                .jSlider .jScrollBanners img{
                margin:0px;
                width:982px;
                height:auto;
                position:absolute;
                bottom:0px;
                left:0px;
                }
                div.jSlider ul li{
                overflow-x: hidden;
                overflow-y: hidden;
                float: left;
                text-align:center;
                position:relative;
                }
                div.jSlider ul li div.jslider-item-title{
                position:absolute;
                bottom:15px;
                left:15px;
                background:url(<%=asset_path "jslider_bg.png"%>) bottom left;
                width:350px;
                height:50px;
                padding:16px;
                color:#2a2a29;
                font-size:18px;
                text-align:left;
                 -webkit-border-radius: 14px;
                 -moz-border-radius: 14px;
                 border-radius: 14px;
                }
            </style>
</div>