<div id="smallslider">
				 
	<div class="jBanners"> 
  		<div class="prevButton"></div>
 
  		<div class="jScrollBanners"> 
		    <ul> 
		      <li style="width:156px; height:52px"><%= image_tag 'armstrong-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'baswool-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'baufas-logo.jpg' %></li>
		     
		      <li style="border:0px; width:156px; height:52px"> <%= image_tag 'bergauf-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'bikton-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'cheboksary-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'ecover-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'egger-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'everest-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'fiorano-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'general-hydraulic-logo.jpg' %></li>

		      <li style="width:156px; height:52px"> <%= image_tag 'geospan-logo.jpg' %></li>
		      	     
		      <li style="width:156px; height:52px"> <%= image_tag 'green-board-logo.jpg' %></li>

		      <li style="width:156px; height:52px"> <%= image_tag 'gyproc.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'isospan-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'isover-logo.jpg' %></li>
		    	     
		      <li style="width:156px; height:52px"> <%= image_tag 'izivek-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'kast-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'louisiana-pacific-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'mamadysh-logo.jpg' %></li>

		      <li style="width:156px; height:52px"> <%= image_tag 'metallokrovlya-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'mosstroy-logo.jpg' %></li>

		      <li style="width:156px; height:52px"> <%= image_tag 'mss-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'ondutis-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'piastrella-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'plastfoil-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'polystil-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'roks-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'tegola-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'tehnonikol-logo1.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'teks-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'tema-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'termoclip-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'timpleks-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'tizol-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'ulyan-logo.jpg' %></li>
		     
		      <li style="width:156px; height:52px"> <%= image_tag 'weroform-logo.jpg' %></li>
		    </ul>
   		</div>
 
  		<div class="nextButton"></div>
	</div>
 
	<div class="empty-block"> </div>
 
	<script type="text/javascript"> 
		$(".jBanners .jScrollBanners").jCarouselLite({
		    auto: 3000,
		    speed: 800,
		    scroll: 1,
		    visible: 6,
		    width: 154,
		    height: 52,
		    btnNext: ".jBanners .nextButton",
		    btnPrev: ".jBanners .prevButton",
		});
	</script>
 
	<style>
		div.jBanners{
		height:53px;
		padding:0px;
		/*border-top:1px solid #f2f2f2;
		border-bottom:1px solid #f2f2f2;
		*/}
		.jBanners .prevButton{
		width: 20px;
		background:url(http://lider-rf.ru/upload/medialibrary/b65/1_jslider_prev.png) no-repeat center center;
		height:53px;
		}

		.jBanners .nextButton{
		width: 20px;
		background:url(http://lider-rf.ru/upload/medialibrary/7fd/2_jslider_prev.png) no-repeat center center;
		height:53px;
		}

		.jBanners>div{
		float:left;
		}

		.jBanners .jScrollBanners img{
		width:152px;
		height:auto;

		}
		div.jBanners ul li{
		overflow-x: hidden; 
		overflow-y: hidden; 
		float: left;
		}
	</style>			
</div>