<%= form_for ([:admin, @product]), html: {multipart: true} do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :manufacturer_id, "Производитель" %>
    <%= f.select(:manufacturer_id, Manufacturer.find(:all).collect {|u| [u.title, u.id]}, :prompt => 'Select') %><br />
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %><br />
  </div>
  <div class="field">
    <%= f.file_field :image %><br />
  </div>
  <div class="field">
    <%= f.label :remote_image_url, "or image URL" %>
    <%= f.text_field :remote_image_url %>
  </div>
  <br />
  <div class="field">
    <%= f.label :content %>
    <%= f.cktext_area :content %>
  </div>  
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
