<h1>Продукты</h1>

<%= paginate @products %>

<table class="table table-bordered">
  <tr>
    <th>Производитель</th>
    <th>Название</th>
    <th>Логотип</th>
    <th>О продукте</th>
    <th>Кнопки управления</th>    
  </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.manufacturer.full_title %></td> 
      <td><%= h raw(product.title) %></td>
      <td><%= image_tag product.image_url(:thumb), class: "thumbnail" %></td>     
      <td><%= h raw (truncate((product.content), :length => 125, :omission => '...')) %></td>
      <td>
        <%= link_to 'Обзор', admin_product_path(product), class: "btn btn-mini btn-info" %>
        <%= link_to 'Изменение', edit_admin_product_url(product), class: "btn btn-mini btn-warning" %>
        <%= link_to 'Удаление', admin_product_path(product), class: "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
</table>

<br />

<%= link_to 'Новый Продукт', new_admin_product_path, class: "btn btn-mini btn-inverse" %>
