<p id="notice"><%= notice %></p>

<p>
  <b>Производитель:</b><br />
  <%= @product.manufacturer.title %>
</p>

<p>
  <b>Название:</b><br />
  <%= h raw(@product.title) %>
</p>

<p>
  <b>Логотип:</b><br />
  <%= image_tag @product.image_url(:thumb).to_s %>
</p>

<p>
  <b>О продукте:</b><br />
  <%= h raw(@product.content) %>
</p>

<br />

<%= link_to 'Изменение', edit_admin_product_path(@product), class: "btn btn-mini btn-warning" %> |
<%= link_to 'Возврат', admin_products_path, class: "btn btn-mini btn-success" %>
