<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= h raw(@product.title) %>
</p>

<p>
  <b>Logo:</b>
  <%= image_tag @product.image_url(:thumb).to_s %>
</p>

<p>
  <b>Content:</b>
  <%= h raw(@product.content) %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @product.manufacturer.title %>
</p>

<br />

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
