<h1 style="margin-top: 30px;">Пользователи</h1>

<%= paginate @users %>

<table class="table table-bordered">
  <tr>
    <th>Имя</th>
    <th>Email</th>
    <th>Кнопки управления</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td>
      <%= link_to 'Обзор', admin_user_path(user), class: "btn btn-mini btn-info" %>
      <%= link_to 'Изменение', edit_admin_user_path(user), class: "btn btn-mini btn-warning" %>
      <%= link_to 'Удаление', admin_user_path(user), class: "btn btn-mini btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </td>
  </tr>
<% end %>
</table>

<br />

