<p id="notice"><%= notice %></p>

<p>
  <b>Имя:</b><br />
  <%= @user.name %>
</p>

<p>
  <b>Email:</b><br />
  <%= @user.email %>
</p>


<%= link_to 'Изменение', edit_admin_user_path(@user), class: "btn btn-mini btn-warning" %> |
<%= link_to 'Возврат', admin_users_path, class: "btn btn-mini btn-success" %>
