  <p id="notice"><%= notice %></p>


<p>
  <b>Производитель:</b><br />
  <%= @product.manufacturer_id %>
</p>
<p>
  <b>Название:</b><br />
  <%= h raw(@product.title) %>
</p>

<p>
  <b>Логотип:</b><br />
  <%= image_tag @product.image_url(:thumb).to_s %>
</p>

<p>
  <b>О продукте:</b><br />
  <%= h raw(@product.content) %>
</p>

<br />

<%= link_to 'Возврат', manufacturer_products_path %>
