<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @product.title %>
</p>

<p>
  <b>Logo:</b>
  <%= image_tag @product.image_url(:thumb).to_s %>
</p>

<p>
  <b>Content:</b>
  <%= @product.content %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @product.manufacturer_id %>
</p>

<br />

<%= link_to 'Edit', edit_manufacturer_product_path(@manufacturer.id, @product) %> |
<%= link_to 'Back', manufacturer_products_path %>
