 <p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= h raw(@product.title) %>
</p>

<p>
  <b>Logo:</b>
  <%= image_tag @product.image_url(:thumb).to_s %>
</p>

<p>
  <b>Content:</b>
  <%= h raw(@product.content) %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @product.manufacturer_id %>
</p>

<br />

<%= link_to 'Возврат', manufacturer_products_path, class: "btn btn-mini btn-success" %>
