<h1 style="margin-top: 30px;">Производители</h1>

<%= paginate @manufacturers %>

<table>
  <tr>
    <th>Название</th>
    <th>Логотип</th>
    <th>О фирме</th>    
    <th>Подробная информация</th>
  </tr>

  <% @manufacturers.each do |manufacturer| %>
    <tr>
      <td><%= h raw(manufacturer.title) %></td>
      <td><%= image_tag manufacturer.logo_url(:thumb) %></td>
      <td><%= h raw (truncate((manufacturer.content), :length => 125, :omission => '...')) %></td>    
      <td><%= link_to 'Обзор', manufacturer %></td>
    </tr>
  <% end %>
</table>


