<h1>Listing manufacturers</h1>

<%= paginate @manufacturers %>

<table>
  <tr>
    <th>Title</th>
    <th>Logo</th>
    <th>Content</th>    
    <th></th>
    <th></th>
  </tr>

<% @manufacturers.each do |manufacturer| %>
  <tr>
    <td><%= manufacturer.title %></td>
    <td><%= image_tag manufacturer.logo_url(:thumb).to_s %></td>
    <td><%= manufacturer.content %></td>    
    <td><%= link_to 'Show', manufacturer %></td>
  </tr>
<% end %>
</table>

<br />

