 <p id="notice"><%= notice %></p>

<p>
  <b>Название:</b><br />
  <%= h raw(@manufacturer.title) %>
</p>

<p>
  <b>Логотип:</b><br />
  <%= image_tag @manufacturer.logo_url(:thumb) %>
</p>

<p>
  <b>О производителе:</b><br />
  <%= h raw(@manufacturer.content) %>
</p>

<br />

<%= link_to 'Продукты', manufacturer_products_path(@manufacturer) %> |
<%= link_to 'Возврат', manufacturers_path %>
