<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Izotorg" %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "admin/application", :media => "all" %>
    <%= render 'layouts/favicon' %> 
    <%= javascript_include_tag "admin/application" %>
  </head>
  <body>
    <%= render 'layouts/navigation' %> 
    <div class="container main_con">
      <div class="row">
        <div class="span9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <%= render 'layouts/sidebar' %>
      </div><!--/row-->
      <%= render 'layouts/footer' %>
    </div> <!-- /container -->
  </body>
</html>
